 /* Estilos para os posts */
 .post {
  border: 1px solid #ccc;
  padding: 10px;
  width: 600px; /* Ajuste a largura desejada */
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  overflow: auto;
}

.post p {
  margin: 0;
}

.post-title {
  display: flex; /* Usar flexbox para alinhar o ícone e o texto */
  align-items: center; /* Centralizar verticalmente */
  margin-top: -15px;
  color: #6f6f6f;
  font-weight:normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.post-content {
  color: #3d3d3d;
  margin-top: -15px;
  margin-left: 50px;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-links {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}


  .post-links img {
    margin-right: 60px;
    width: 20px; /* Ajuste a largura desejada */
    height: 20px;
    cursor: pointer;
  }

  /* Estilos para a caixa de input de postagem */
  .post-form-create {
    padding: 3px;
    height: 115px;
    width: 613.5px; /* Ajuste a largura desejada */
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    overflow: auto;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    position: relative; /* Adicionamos a posição relativa para o textarea ser posicionado */
    z-index: 1; /* Definimos um z-index para que o textarea fique acima do post abaixo */
  }

  .post-form-create textarea {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    resize: none;
    min-height: 70px;
    margin-bottom: -5px; /* Ajuste para aproximar o textarea do post abaixo */
  }

  .post-form-create button {
    margin-left: 8px;
    padding: 9px 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  /* Adicionei um estilo para remover a margem inferior do último post */
  .post:last-child {
    margin-bottom: 0;
  }

  /* Estilo para remover a margem inferior do post logo abaixo do textarea */
  .post + .post-form-create {
    margin-top: -10px; /* Ajuste para remover a margem entre o post e o textarea */
  }

  /* Estilização para o ícone de perfil */
.profile-icon {
  margin-top: 15px;
  width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
  height: 40px;
  border-radius: 50%; /* Deixa o ícone redondo */
  margin-right: 10px; /* Espaçamento entre o ícone e o campo CreatedBy */
} 

.bar-btn {
  
  display: flex;
  gap: 10px;
}

.bar-btn span {
  vertical-align: super;
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  margin-left: 9px;
  margin-bottom: 5px;
  
  
}

.vertical-bar {
  display: flex;
  align-items: center; /* Alinha a imagem verticalmente no botão */
  background: none; /* Remove o plano de fundo do botão */
  border: none; /* Remove a borda do botão */
  padding: 0; /* Remove o preenchimento interno do botão */
  cursor: pointer;
}

.bar-btn img {
  width: 29px;
  height: 30px;
  margin-right: 5px;
  margin-left: -10px;
  vertical-align: bottom;
}


#home-btn {
  background-color: #ffffff;
  position: fixed;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 11px 25px;
  cursor: pointer;
  top: 130px;
  left: 9px;
}  
#logout-btn {
background-color: #ffffff;
position: fixed;
color: white;
border: none;
border-radius: 25px;
padding: 11px 25px;
cursor: pointer;
top: 250px;
left: 9px;
}

/* Estilos para o botão com ID "profile-btn" */
#profile-btn{
background-color: #ffffff;
position: fixed;
color: rgb(0, 0, 0);
border: none;
border-radius: 25px;
padding: 11px 25px;
cursor: pointer;
top: 190px;
left: 9px;

}

#profile-btn:hover{
  background-color: #e5e5e5;
  border: #e5e5e5;
}
#home-btn:hover{
  background-color: #e5e5e5;
  border: #e5e5e5;
}
#logout-btn:hover{
  background-color: #e5e5e5;
  border: #e5e5e5;
}