<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="public/css/home.css">

</head>
<body>
  <!-- Formulário de criação de postagem -->
  <div id="create-post-form-container" style="display: none;"></div>
  <form id="post-form">
    <div class="post-form-create">
      <textarea name="content" id="content" placeholder="What's happening?"></textarea>
      <button type="submit">Postar</button>
    </div>
  </form>

  <!-- Container para exibir os posts -->
  <div id="posts-container"></div>

  
  <div class="bar-btn vertical-bar">
    <button id="home-btn">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAABgUlEQVRYR+2WjW3CMBCFYQPYgBFgA7pBuwFsQCeATtB2grJBuwHZADZoRmADeA8VpFq+HzuxiFBOOgnFh+/L8+Ulw0HHYtgxnsFDAk2h8hfyiHxFHpqo3lShEZrvkZM/CELNkHUuVBMgwnwj50FzwhCKcMmRC0QYHtOz0JHHRqjkyAUizMLoVmH9KZUoB+gdTVbORj+oe3HWXspSgQhCoJR4Q/HG+4cUoByYK8cSP7YeKC8Q54XKcJhzg0fHI1TDA0Tj2zWEuUJwyCuNyAJqE4Yc9CZCiW6uAYUubKntXVfdXAKSXNjb1KqrURB18xiQ5cJWM+961M1jQB4X9ja16jjg/9w8BNqgYG3t0vL6FvvRpy4RAv3i2qTlhp7tbhz3VohPHBXih11UofBuShyh+m6zjLEHejiFOA+x0Kyj6AxJCp+UZ70Hoji9QpaxFlNI+7Cn7Y+F4dWA+Jr4kIbe8iHpq5Ewn0g6eSykG6lQzDd7nQukPL1lliyFynRVdu0c0BkteU4lXQVA0wAAAABJRU5ErkJggg==" alt="" srcset="">
    <span>Home</span>
    </button>
    <button id="profile-btn">
      <img src="public/images/user-profile-2.png" alt="Profile">
      <span>Profile</span>
    </button>
    <button id="logout-btn">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAXtJREFUWEftmM8qxUEUxz93wUtRrChFHkJJsrBkg4VYWshCdh7AyoYNIhTPQfECZKFvjZr7a+Y3c+4d/GhO3cVtzp9P55w5M/Pr0THpdYyHCpSqSFuGJoAxYDTlxLj+DlwDVyG7GNA+sGwMZFXfA1abRiGgeeDE6n1A/WngzLcNAa0D207pErgYMFjMbBJQO0gUaycFtAlsOKUtQP9LSqv/UIYq0L8v2SLwADxmNpq5h7QL9JNoh6V2mQKsAQvAcQaUGSjDZ5+KH+DQDdSPFic/CiSOO2AOeIlAmYH8kuVkyx90X/rPgCb+fcCBGcg3yAGK6egQDfXVrwGpj5aAowaxGahEyV5dH92WKJm1TM0Sax7NAk+lmnoYIM0h9Y36JyZDlcwyGFcAzaGUmIGsp71uliqT5k+OfDtQDoSvU4FSGfv7GercJX8GOE3lvdD6FHDu+4o9FA/cOVQobtDNrrvY9S2mntLjwEhhqjf3jL4J+a1fP1LZrhlKZegTy9N2JYd/DD8AAAAASUVORK5CYII=" alt="" srcset="">
      <span>Logout</span>
    </button>
  </div>
  

  <script src="public/js/home.js"></script>
  <script src="public/js/logout.js"></script>
</body>
</html>